.RegisterCatalogContainer{

    position:relative;
    display:flex;
    gap:2rem;
    height: 100%;

}

.RegisterCatalogTitle{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans';
    font-weight: 600;
    padding-top:5rem;

}

.RegisterCatalogLeftMenu{

    width: 15%;
    height: 100dvh;
    background: rgb(194, 194, 194);
    position: relative;
    display:flex;
    flex-direction: column;
    gap:2rem;

}

.RegisterCatalogL{

    display:flex;
    flex-direction: column;
    gap:1rem;

}

.RegisterCatalogL{

    font-family: 'Work Sans';
    font-size: 0.875rem;

}

#subtitle{

    background: white;
    padding:.5rem 1rem;

}

.RegisterCatalogNav{

    padding:.5rem 1rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    cursor:pointer;

}

.RegisterOptionsNav{

    display:flex;
    align-items: center;
    gap:.5rem;

}

.RegisterCatalogMenuMobile{

    display:flex;
    opacity:1;
    transition: opacity 1s ease; /* Transição de opacidade */
    flex-direction: column;
    gap:0.3rem;
    position: absolute;
    top:2rem;
    left:1rem;
    cursor: pointer;

}


.RegisterCatalogBurger{

    background: #535353;
    height: 0.375rem;
    width: 2.5rem;

}

.RegisterCatalogBurgerClose{

    display: none;

}

@media (max-width:1100px ){
    
    .RegisterCatalogLeftMenu{

        width: 25%;

    }

    .RegisterCatalogTitle img{

        width: 100px;
        height: 100px;

    }

}

@media (max-width:840px){

    .RegisterCatalogLeftMenu{

        height: 180dvh;
    
    }

}

@media (max-width:660px){

  .RegisterCatalogContainer{

    margin-bottom:5rem;

  }

  .RegisterCatalogLeftMenu{

    width: 0;
    overflow: hidden;
    position: fixed;
    height: 100dvh;
    transition: width 0.5s ease-in-out;

  }

  .RegisterCatalogMenuMobile.open{

    opacity:0;

  }

  .RegisterCatalogLeftMenu.mobileMenuOpen{

    display:flex;
    width: 15rem;

  }

  .RegisterCatalogBurgerClose{

    display: flex;
    position: absolute;
    right: 1.5rem;
    top:2rem;
    color: #fff;

  }

}